@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
}

h1 {
    font-size: 3rem;
}

header {
    background-color: #d1453b;
    color: white;
    padding: 1rem 2rem;
}

.container {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%; 
}

aside {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

aside a {
    text-decoration: none;
    color: black;
}

a.menu-link {
    padding: .8rem .8rem;
    border-radius: 10px;
    transition: .1s;
}

.menu-link:hover {
    background-color: #c7c7c7;
}

.active {
    background-color: #c7c7c7;
}

.projects {
    margin-top: 1rem;
    padding: .0 1rem;
}

.projects h3 {
    /* background-color: #c7c7c7; */
}

.projects h3 {
    padding: .8rem .2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(0,0,0,0.56);
    border-radius: 10px;
    transition: .1s;
}

.projects a {
    font-size: 1.1rem;
    opacity: 0;
    transition: .2s;
    color: rgba(0,0,0,0.56);
}

.project {
    padding: .5rem 1rem .5rem .5rem;
    border-radius: 10px;
    transition: .2s;
}

.project h4 {
    color: rgba(0,0,0,0.56);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.project h4 i {
    color: rgba(0, 0, 0, 0.308);
    opacity: 0;
    transition: .2s;
}

.project:hover {
    cursor: pointer;
    background-color: #c7c7c7;
}

.selected-project {
    background-color: #c7c7c7;
}

.project:hover i {
    opacity: 1;
}

.project i:hover {
    color: rgba(0, 0, 0, 0.671);
    
}

.form-div {
    position: absolute;
    top: -150%;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000050;
    opacity: 0;
    transition: opacity .2s;
    z-index: 2;
}

.form-div.pop-up {
    top: 0;
    opacity: 1;
}

.projects-form {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
}

.projects-form {
    width: 300px;
}

.projects-form h2 {
    margin-bottom: 1rem;
}

.projects-form label {
    display: block;
    margin-bottom: .5rem;
}

.projects-form input {
    padding: .3rem .5rem;
    width: 100%;
    border-radius: 5px;
    border: 1px #8888884f solid;
    transition: .2s;
}

.projects-form input:focus {
    outline: transparent;
    border: 1px #888888 solid;
}

.projects-form .add-project-btn {
    background-color: #d1453b;
    color: white;
}

.projects-form .add-project-btn.disabled {
    background-color: #df847e;
}

.projects-form .add-project-btn:disabled {
    cursor: not-allowed;
}

aside:hover .projects a {
    opacity: 1;
}

main {
    padding: 1rem 3rem;
    max-width: 800px;
}

main h2 {
    margin-bottom: 1rem;
}

main a {
    text-decoration: none;
    color: #808080;
    font-size: .9rem;
}

main i {
    margin-right: .5rem;
    color: #d1453b;
}

main a:hover {
    color: #d1453b;
}

.form {
    padding: 1rem .8rem;
    border: 1px #b4b4b4 solid;
    border-radius: 10px;
}

.hide {
    display: none;
}

#task-name {
    font-size: 1rem;
    font-weight: bold;
}

.form input[type="text"] {
    border: none;
    margin-bottom: .8rem;
    display: block;
    width: 100%;
}

.check {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.check::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: CanvasText;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.check:checked::before {
    transform: scale(1);
}

.check:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
  }

.form input[type="date"], select {
    border-radius: 5px;
    padding: 2px;
    border: 1px #c7c7c7 solid;
    color: #646464;
}

.form input[type="text"]:focus {
    outline: transparent;
}

.date-priority {
    display: flex;
    gap: 2rem;
}

.date-priority label {
    font-size: .9rem;
    color: #6d6d6d;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.buttons button {
    flex: 1;
    padding: .5rem 1rem;
    border: none;
    border-radius: 8px;
    font-weight: 700;
}

.buttons button:hover {
    cursor: pointer;
}

.buttons .cancel-btn {
    background-color: #f0f0f0;
}

.buttons .cancel-btn:hover {
    background-color: #d4d4d4;
}

.buttons .add-btn {
    background-color: #d1453b;
    color: white;
}

.buttons .add-btn:hover {
    background-color: #b63a31;
}

.buttons .add-btn.disabled {
    background-color: #df847e;
    cursor: not-allowed;
}

.task {
    display: flex;
    gap: 1rem;
    border-bottom: 1px #c7c7c7 solid;
    /* padding-bottom: .5rem; */
    margin-bottom: .5rem;
}

.task-info p.task-priority1 {
    color: #d1453b;
    font-weight: 700;
}

.task-info p.task-priority2 {
    color: #eb8909;
    font-weight: 700;
}

.task-info p.task-priority3 {
    color: #246fe0;
    font-weight: 700;
}

.task-info p.task-priority4 {
    color: #666;
    font-weight: 700;
}

.task-info {
    flex: 1;
}

.task-info p {
    margin-bottom: 6px;
}

.task-description, .date, .priority {
    font-size: 14px;
    color: #888888;
}

.task .close i {
    color: #888888;
    opacity: 0;
    transition: .2s;
    font-size: 1.3rem;
}

.task:hover .close i {
    opacity: 1;
}

.task .close i:hover {
    cursor: pointer;
    color: #c7443b;
}

footer {
    background-color: #d1453b;
    padding: 1rem;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.2rem;
}